extends ../question

block question_category
	span My Mental Health

block question
	p Over the past two weeks, how often have you been bothered by having the following problems:

	p Little interest or pleasure in doing things
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio1' name='answer' value='0')
			label(class='form-check-label' for='answer1') Not at all
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio2' name='answer' value='1')
			label(class='form-check-label' for='answer2') Several days
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio3' name='answer' value='2')
			label(class='form-check-label' for='answer3') More than half the days
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio4' name='answer' value='3')
			label(class='form-check-label' for='answer4') Nearly every day

	p Feeling down, depressed, or hopeless
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio1' name='answer' value='0')
			label(class='form-check-label' for='answer1') Not at all
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio2' name='answer' value='1')
			label(class='form-check-label' for='answer2') Several days
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio3' name='answer' value='2')
			label(class='form-check-label' for='answer3') More than half the days
		div(class='form-check')
			input(class='form-check-input' type='radio' id='radio4' name='answer' value='3')
			label(class='form-check-label' for='answer4') Nearly every day