extends ../question

block question_category
	span Daily Life

block question
	h4 When I use the telephone at home I am able to...

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') Use the telephone of my own initiative, including looking up and dialing phone numbers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio2') Call a few well-known numbers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='radio3') Answer the phone, but do not dial
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio4' name='answer' value='option4')
		label(class='form-check-label' for='radio4') I do not use the phone