extends ../question

block question_category
	span Daily Life

block question
	h4 Do you use any mobility items (i.e. Scooter, walker, cane)...

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') No
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio2') Yes
