extends ../question

block question_category
	span Daily Life

block question
	h4 When doing housekeeping...

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') I maintain my house alone or with little assistance for some tasks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio2') I only do light daily tasks such as dish washing or bed making
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='radio3') I only do light daily tasks, but cannot sustain an acceptable level of cleanliness to me
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio4' name='answer' value='option4')
		label(class='form-check-label' for='radio4') I need help with all housekeeping tasks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio5' name='answer' value='option4')
		label(class='form-check-label' for='radio5') I do not do any housekeeping