extends ../question

block question_category
	span Daily Life

block question
	h4 When I am going somewhere outside of the house...

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='answer1') I am able to drive or take public transportation
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='answer2') I must arrange a taxi to drive me and can do so on my own
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='answer3') I need to be accompanied when taking a taxi or public transportation
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio4' name='answer' value='option4')
		label(class='form-check-label' for='answer4') I do not travel at all