extends ../question

block question_category
	span Daily Life

block question
	h4 When I eat...

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') I am able to plan and serve myself adequate meals independently
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio2') I am able to serve myself adequate meals only if the ingredients are provided
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='radio3') I am not able to serve myself adequate meals, or am only able to do so by heating pre-prepared meals
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio4' name='answer' value='option4')
		label(class='form-check-label' for='radio4') I must have my meals prepared and served to me