extends ../question

block question_category
	span Daily Life

block question
	h4 How many falls have you had in the last 6 months?

block answers
	input(class="form-control" id="falls" placeholder="# of falls")