extends assessment

block content
	div(class='jumbotron')
		div(class='container-md menu')
			div(class='list-group')
				a(href='#' class='list-group-item') Physical Health
				a(href='#' class='list-group-item') Mental Health
				a(href='#' class='list-group-item') Home Life
				a(href='#' class='list-group-item') Life Outside the Home

			button(type="button" class="btn btn-primary btn-lg btn-block col-12 start-assessment") Start Assessment