extends layout

block navigation
	nav(class='navbar container-fluid-nav fixed-top navbar-expand-lg navbar-dark bg-dark')
		div(class="container-fluid-nav text-center")
			a(class='navbar-brand back' href='/assessment')
				i(class="fas fa-arrow-left")

block content
	h2 My Assessment Summary
	#accordionExample.accordion
		.accordion-item
			h2#headingOne.accordion-header
				button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
					| Daily Activities - Dependent in 1 or more activities (Comments)
			#collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne')
				.accordion-body
					.accordion
						.accordion-item
							#headingADLAnswers.accordion-header
								button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseADLAnswers' aria-expanded='false' aria-controls='collapseOne')
									| Your Answers
							#collapseADLAnswers.accordion-collapse.collapse(aria-labelledby="headingADLAnswers")
								ul.list-group
									li.list-group-item
										h5 Telephone - "I do not use the phone"
										h6 Comment:
										h7 I don't use the phone anymore
									li.list-group-item 
										h5 Laundry - "I am only able to do some parts of the laundry"
									li.list-group-item 
										h5 Shopping - "I am unable to go shopping"
									li.list-group-item 
										h5 Driving - "I need to be accompanied when taking a taxi or public transportation"
									li.list-group-item 
										h5 Eating - "I must have my meals prepared and served to me"
										h6 Comment:
										h7 My wife cooks everything for me, and I never learned how to cook
									li.list-group-item 
										h5 Medications - "I have my medications with correct dosages and schedule prepared for me, but can take the medication myself"
									li.list-group-item 
										h5 Housekeeping - "I need help with all housekeeping tasks"
										h6 Comment:
										h7 We have a housekeeper come every week to help clean the house
									li.list-group-item 
										h5 Finances - "I can do day-to-day purchases, but need help with banking and major expenses"
						.accordion-item
							#headingADL.accordion-header
								button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseADL' aria-expanded='true' aria-controls='collapseADL')
									| Recommendations
							#collapseADL.accordion-collapse.show(aria-labelledby="headingADL")
								ul.list-group
									li.list-group-item
										h7 Your assessment showed you may have some difficulty with doing one or more of your daily activities. Please talk to your health care provider about physical therapy, occupational therapy or home care services may be beneficial to you to support you doing your daily activities. Physical therapy can help strengthen your muscle strength to allow you to maintain your independence. Occupational therapists can review your home situation and recommend aids such as walking aids and devices around the home to make it easier to complete your daily activities. Home care services such as personal can help you with activities like bathing and dressing. Remaining active is important for maintaining your muscles and maintaining independence, and it can be things like walking around your neighborhood for 15-30 min daily. Being outside will also help with sleeping. Remaining active can also help you reduce some of the side effects and through cancer treatments. Please talk to your oncologist, family physician, or exercise professional (e.g. physiotherapist, kinesiologist, personal trainer) before starting any exercise to ensure it is safe for you to start exercising.

		.accordion-item
			h2#headingTwo.accordion-header
				button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
					| Mental Health - Depressed (Comments)
			#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo')
				.accordion-body
					.accordion
						.accordion-item
							#headingPHQAnswers.accordion-header
								button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapsePHQAnswers' aria-expanded='true' aria-controls='collapsePHQAnswers')
									| Your Answers
							#collapsePHQAnswers.accordion-collapse.collapse(aria-labelledby="headingPHQAnswers")
								ul.list-group
									li.list-group-item
										h5 Little interest/pleasure in doing things over the past two weeks - more than half of the days
										h6 Comment:
										h7 COVID has been hard - I don't get to go out anymore
									li.list-group-item 
										h5 Feeling down/depressed/hopeless over the past two weeks - more than half of the days
										h6 Comment:
										h7 Things seem pretty bad right now in the world, doesn't everyone feel this way?
						.accordion-item
							#headingADL.accordion-header
								button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseADL' aria-expanded='true' aria-controls='collapsePHQRecommendations')
									| Recommendations
							#collapsePHQRecommendations.accordion-collapse.show(aria-labelledby="headingADL")
								ul.list-group
									li.list-group-item
										h6 Recommendation #1
										h7 Depression assessment followup
									li.list-group-item
										h6 Recommendation #2
										h7 Referral to psychosocial oncology for counselling or medication

		.accordion-item
			h2#headingThree.accordion-header
				button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
					| Social Life - Vulnerable (Comments)
			#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree')
				.accordion-body
					.accordion
						.accordion-item
							#headingSocialAnswers.accordion-header
								button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseSocialAnswers' aria-expanded='true' aria-controls='collapseSocialAnswers')
									| Your Answers
							#collapseSocialAnswers.accordion-collapse.collapse(aria-labelledby="headingSocialAnswers")
								ul.list-group
									li.list-group-item
										h5 Have someone to help with chores - All the time
										h6 Comment:
										h7 My wife helps me with chores
									li.list-group-item 
										h5 Have someone to turn to for suggestions on how to deal with a personal problem - Some of the time
									li.list-group-item 
										h5 Have someone to do something enjoyable with - Not at all
									li.list-group-item 
										h5 Have someone to turn to to love and and feel wanted - Some of the time
									li.list-group-item 
										h5 Physical health interfered with social activities over the past 4 weeks - All of the time
										h6 Comment:
										h7 COVID has been stopping most of it though, does that count?
						.accordion-item
							#headingSocial.accordion-header
								button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseSocial' aria-expanded='true' aria-controls='collapseSocial')
									| Recommendations
							#collapseSocial.accordion-collapse.show(aria-labelledby="headingSocial")
								ul.list-group
									li.list-group-item
										h6 Recommendation #1
										h7 Referral to social worker to help identify community resources

		.accordion-item
			h2#headingFour.accordion-header
				button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
					| Physical Health - Weight Loss/At Risk (Comments)
			#collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour')
				.accordion-body
					.accordion
						.accordion-item
							#headingPhysicalAnswers.accordion-header
								button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapsePhysicalAnswers' aria-expanded='true' aria-controls='collapsePhysical')
									| Your Answers
							#collapsePhysicalAnswers.accordion-collapse.collapse(aria-labelledby="headingPhysicalAnswers")
								ul.list-group
									li.list-group-item
										h5 Falls in the last 6 months - 2
										h6 Comment:
										h7 Both were very minor falls and I was not hurt, I just lost my balance around the house
									li.list-group-item
										h5 Use of Mobility Device - Yes
									li.list-group-item
										h5 Lost 10% of body weight in the past 6 months - Yes
										h6 Comment:
										h7 It was on purpose
									li.list-group-item
										h5 Drink frequency over the past 30 days - Once a week
									li.list-group-item
										h5 Number of drinks in a day when you did drink - 1
									li.list-group-item
										h5 Smoking - Never
									li.list-group-item
										h5 Hearing Difficulty - No
									li.list-group-item
										h5 Vision Difficulty - No

						.accordion-item
							#headingPhysical.accordion-header
								button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapsePhysical' aria-expanded='true' aria-controls='collapsePhysical')
									| Recommendations
							#collapsePhysical.accordion-collapse.show(aria-labelledby="headingPhysical")
								ul.list-group
									li.list-group-item
										h6 Recommendation #1
										h7 Referral for more detailed fall risk assessment
									li.list-group-item
										h6 Recommendation #2
										h7 Medication review for fall risk
									li.list-group-item
										h6 Recommendation #3
										h7 Postural vitals assessment
									li.list-group-item
										h6 Recommendation #4
										h7 Dietician referral
	br
	h2 Recommendations
	.list-group
		a.list-group-item.list-group-item-action(href='#recommendation1' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Functional Status
			div#recommendation1.collapse
				p.mb-1 Your assessment showed you may have some trouble doing one or more of your daily activities. Ask your health care provider if any of these supports can help you:
				ul
					li
						p.mb-1 Physical therapy: Physical therapy can help strengthen your muscles to allow you to do things for yourself.
					li
						p.mb-1 Occupational therapy: Occupational therapy can assess your home to make it safer for you. Therapists may also suggest aids such as walking aids and devices to make it easier for you to complete your daily activities at home. 
					li
						p.mb-1 Home care services: Home care services such as personal support workers can help you with activities like bathing and dressing. 
				p.mb-1 Remain active to maintain your muscles and your independence. Staying active can be things like walking around your neighborhood for 15-30 minutes daily. Being outside will also help with sleeping. 
				p.mb-1 Stay active to help you reduce some of the side effects and challenges of going through cancer treatments. Talk to your oncologist, family physician, or exercise professional (for example, physiotherapist, kinesiologist, personal trainer) before starting any exercise to ensure it is safe for you.
		a.list-group-item.list-group-item-action(href='#recommendation2' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Mobility and Falls
			div#recommendation2.collapse
				p.mb-1 Your assessment showed that you have trouble with your mobility (walking ability) or that you have had 1 or more falls in the past 6 months. Talk to your health care provider to see what risk factors you have for future falls and what you can do to reduce those risks.
				p.mb-1 For example, review your medication with your doctor or pharmacist to see if any of your medications cause drowsiness or dizziness (which increases the risk of falls). Your doctor or pharmacist may be able to  replace them with a medication that does not cause drowsiness or dizziness.
				p.mb-1 Here are some other ways to reduce the risk of falls:
				ul
					li 
						p.mb-1 Do regular exercise to help prevent falls. Include exercises for balance and leg strength to help reduce your risk of falls. Talk to your doctor or exercise professional before starting any exercise program to make sure it is safe for you. 
					li 
						p.mb-1 Check your blood pressure often at home, in a pharmacy, or in a doctor’s office. If your blood pressure is too low and you take medications that affect your blood pressure, your doses may need to be changed. Doses may need to change because as people age, it takes more time for some medicines to be flushed out of the body after they have done their job. Weight loss is also common with cancer and can lead to less need for blood pressure medications.
					li
						p.mb-1 Have your vision a checked often as poor vision may lead to trips and falls. Also, have your hearing checked.  If you are not hearing well you may focus on more on hearing  and less on balance which can t lead to a fall.
					li
						p.mb-1 Always wear shoes or slippers in your house that support your feet well, have a closed back and rubber soles that do not slip. Tie your laces or use elastic laces so you cannot trip over your laces. 
					li
						p.mb-1 If you have a walking aid (cane or walker), use it every time you get up. Take your time getting up.  Get up slowly if you feel dizzy. If you are often dizzy or lightheaded when getting up, talk to your doctor. 
					li
						p.mb-1 Keep the path in your home clear of clutter so you can walk safely with your mobility aid. Ensure carpets are secured to the floor and keep electrical cords and wires out of the way.
					li 
						p.mb-1 Ensure there is enough lightning everywhere in your home including stairs. Make sure you can easily reach light switches at night. Have a contrasting colour painted on the edge of each stair so it is easier to see each step. Use night lights that are motion sensing to make is easier to see the path to the washroom.
					li
						p.mb-1 Do not carry heavy objects up the stairs.  Ask for help instead. 
					li
						p.mb-1 Use a non-slip rubber mat in and outside the bathtub or shower. Do not use a towel as a floor mat as you may slip. 
					li
						p.mb-1 Turn on the light in the bathroom when you use it.  Consider using a nightlight in the bathroom.
				p.mb-1 It may be helpful to install grab bars in the bathroom next to the toilet and shower for grip. An occupational therapist can give advice on devices that can make your home safer. Your family doctor or oncologist can refer you to an occupational therapist. 
		a.list-group-item.list-group-item-action(href='#recommendation3' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Nutrition
			div#recommendation3.collapse
				p.mb-1 Your assessment showed that you have lost  weight recently. 
				p.mb-1 As we age, our bodies loses muscle mass, and gain fat. Our bones shrink in size and may break more easily. Healthy eating means eating a range of foods. As you get older you need less food (calories) but you need the same amount of nutrients. Nutrients include:
				ul
					li 
						p.mb-1 proteins 
					li 
						p.mb-1 carbohydrates 
					li 
						p.mb-1 fat 
					li 
						p.mb-1 vitamins  
					li 
						p.mb-1 minerals 
					li 
						p.mb-1 water 
				p.mb-1 Healthy eating means eating more:
				ul
					li 
						p.mb-1 fruits and vegetables,  
					li 
						p.mb-1 whole grains (for example breads, pasta and rice) 
					li 
						p.mb-1 legumes (such as dried beans, lentils and peas) 
					li 
						p.mb-1 calcium-rich foods (such as low-fat milk, yoghurt, and cheese) 
					li 
						p.mb-1 lean meat and poultry, fish 
					li 
						p.mb-1 unsaturated fats (from vegetables, seeds and nuts)
		a.list-group-item.list-group-item-action(href='#recommendation4' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Social Support
			div#recommendation4.collapse
				p.mb-1 Stay connected to your friends and family. Friends and family can provide practical and emotional support which is important when you are undergoing treatments for cancer. Some patients find it very helpful to be connected to other patients with cancer, to share experiences and hear tips and tricks from them. The Canadian Cancer Society has support groups, online and pre-pandemic in person as well.
				p.mb-1 If you need more support at home , talk to your health care team. Your health care team can refer you to a social worker can help you access more support in your neighborhood. 
		a.list-group-item.list-group-item-action(href='#recommendation5' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Mental Health
			div#recommendation5.collapse
				p.mb-1 From your answers to 2 questions on mood, you may be dealing with sadness or low mood.  It is important to discuss this issue further with your doctor or nurse. Your doctor or nurse may ask you extra questions and  suggest things you can do to help low mood or sadness.
		a.list-group-item.list-group-item-action(href='#recommendation6' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Substance use
			div#recommendation6.collapse
				p.mb-1 Your response showed that you drink 1 or more drinks of alcohol per day. Current guidelines for older adults advise no more than 1 drink per day.
				p.mb-1 For both women and men, 1 drink is defined as:
				ul
					li
						p.mb-1 1 beer
					li
						p.mb-1 5 ounces of wine 
					li
						p.mb-1 1.5 ounces of hard liquor
				p.mb-1 More than 1 drink a day can increase the risk of many health problems including a number of cancers. Having more than 1 drink a day  may make it harder to go through certain cancer treatments. Talk to your health care team if you are drinking more than 1 alcoholic drink per day.
		a.list-group-item.list-group-item-action(href='#recommendation7' data-bs-toggle="collapse")
			.d-flex.w-100.justify-content-between
				h5.mb-1 Vision and Hearing
			div#recommendation7.collapse
				p.mb-1 Your assessment showed that you have trouble seeing well. Talk to your doctor about your vision. Seeing well is important to avoid falls and maintain your independence. A yearly eye examination is advised for everyone aged 65 years and older.  However, depending on where you live in Canada it may or may not be covered in your provincial healthcare plan.
				p.mb-1 Your assessment showed you have trouble hearing well. Talk to your doctor about your hearing. Hearing well is important to help you maintain your independence and social bonds with others.  Both independence and having social bonds are important for your well-being. There is a higher chance of developing cognitive impairment (for example, memory loss)  or dementia if you do not hear well. Not hearing well is also linked with a higher risk of some side effects from chemotherapy.


