extends layout

block navigation
	nav(class='navbar container-fluid-nav fixed-top navbar-expand-lg navbar-dark bg-dark')
		div(class="container-fluid-nav text-center")
			a(class='navbar-brand back' href='/assessment')
				i(class="fas fa-arrow-left")

block content
	p Thank you for completing your comprehensive health assessment. When you submit this assessment, your answers and any accompanying comments will be sent to your cancer team. If you would like to add any comments to any of your questions, you may go back and do so before submitting this assessment.
	div(class='container-md menu summary-buttons')
		div(class="form-check")
			input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault")
			label(class="form-check-label" for="flexCheckDefault") Send me an email summary of my responses on this assessment
		div(class="form-check")
			input(class="form-check-input" type="checkbox" value="" id="flexCheckChecked")
			label(class="form-check-label" for="flexCheckDefault") Send me an email with health recommendations based on how I answered in this assessment

		a(href=("/thankyou") class="btn btn-primary btn-lg btn-thankyou" role="button" aria-pressed="true") Submit Assessment