extends layout

block content
	h4 Thank you for submitting your comprehensive health assessment. Your cancer team will be in contact with you soon about options for your cancer treatment and with resources to help you through this trying time.