extends layout

block content
	div(class="welcome container")
		h1 Welcome to your Comprehensive Health Assessment

		p This online assessment will help your cancer team better understands your health and what concerns you may have. The information you provide us with today will be reviewed by your cancer care team and is supplemental to your discussion with your care team. 
		
		p Knowing more about you will help them understand what treatment options are best for you and how they can support you where there are concerns about your health. For example, knowing about whether you have had falls/difficulties with walking, your nutritional status and diet, memory and mood concerns, is important for the cancer team to address and it may influence the treatments they choose to ensure you can tolerate your treatments and maintain your well-being during treatment.  You can complete it together with your support person (e.g. spouse, child) if you prefer. 

		p Depending on the assessment, your cancer treatment team can also refer you to a geriatrician (inside your cancer hospital or outside you cancer hospital) who is a specialist in caring for older adults to help maintain your independence during cancer treatment. 

		p You will get a summary of the assessment results after completing the assessment as well as your cancer team so you can take that to your appointment to discuss with your cancer team and/or with your family doctor. You will also get recommendations about what can be done about issues identified in the health assessment so that you can review that in advance of your appointment with your cancer team. 

		div(class="d-grid gap-2")
			a(href="/phone" class="btn btn-secondary btn-lg" role="button") I would prefer to do this assessment on the phone
			a(href="/assessment" class="btn btn-primary btn-lg" role="button") Continue