extends layout

block content
	div(class="welcome container")
		h1 Welcome to your Comprehensive Health Assessment

		p This online assessment will help your cancer team better understand your health and what concerns you may have. The information you provide us with today will be reviewed by your cancer care team and is supplemental to your discussion with your care team. 
		
		p Knowing more about you will help them understand what treatment options are best for you and how they can support you where there are concerns about your health. For example, knowing about whether you have had falls/difficulties with walking, your nutritional status and diet, memory and mood concerns, is important for the cancer team to address and it may influence the treatments they choose to ensure you can tolerate your treatments and maintain your well-being during treatment.  You can complete it together with your support person (e.g. spouse, child) if you prefer. 


		div(class="d-grid gap-2")
			a(href="/welcome2" class="btn btn-primary btn-lg" role="button") Next