extends layout

block content
	div(class="welcome container")
		h1 After your assessment
		
		p Depending on the results of your assessment, your cancer treatment team can also refer you to a geriatrician (inside your cancer hospital or outside your cancer hospital) who is a specialist in caring for older adults to help maintain your independence during cancer treatment.

		p You and your cancer team will get a summary of your assessment after completing it. We encourage taking this summary to your next appointment with your cancer team or family doctor to discuss it further.

		p You will also receive recommendations about what can be done about health issues identified in assessment so that you can review them in advance of your appointment with your cancer team.

		div(class="d-grid gap-2")
			a(href="#" class="btn btn-secondary btn-lg" role="button") I would prefer to do this assessment on the phone
			a(href="/assessment" class="btn btn-primary btn-lg" role="button") Continue 