@import url('../node_modules/@fortawesome/font-awesome-free/css/all.css');

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
}

body {
  background-color: #eee;
  min-height: 75rem;
  padding-top: 4.5rem;
}

p {
  font-size: larger;
}

a {
  font-size: larger;
}

label {
  font-size: larger;
}

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

nav.question-buttons {
	@include breakpoint(md) {
		display: none;
	}
}

nav.question-buttons .btn {
  padding: 1rem;

}

nav.comment-buttons .btn {
  padding: 1rem;
}

.container-fluid-nav div{
  display: flex;
  justify-content: space-around;
}

.form-check{
  padding: 12px;
}

.navbar.question-buttons {
  padding: 0px;
}

.navbar.comment-buttons {
  padding: 0px;
}

.question-buttons .btn {
  width: 50%;
}

.comment-buttons .btn {
  width: 100%;
}

.btn-start-assessment {
  width: 100%;
}

.start-assessment {
  margin-top: 25px;
}

.navbar {
  padding: .5rem 1rem;
}

div.welcome h1 {
  margin-bottom: 25px;
}

div.welcome div.d-grid {
  margin-top: 50px;
}

div.answers {
  margin-left: 25px;
  margin-right: 25px;
}

div.question h4 {
  margin-bottom: 20px;
}

.navbar-brand.back {
  padding-left: 15px;
  padding-right: 15px;
}

.listing-reg h1 {
  text-align: center;
  margin: 0 0 2rem;
}

/* css for registration form and errors*/
.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-registration {
  display: flex;
  flex-wrap: wrap;
}
.form-registration input {
  width: 100%;
  margin: 0px 0 10px;
}
.form-registration .btn {
  flex: 1 0 100%;
}
.my-errors {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 1.2rem;
  display: table;
}
.my-errors li {
  margin: 0 0 1rem;
}
.my-errors li:before {
  content: "! Error : ";
  color: #f00;
  font-weight: bold;
}

/* Styles for listing table */
.listing-table {
  width: 100%;
}
.listing-table th,
.listing-table td {
  padding: 10px;
  border-bottom: 1px solid #666;
}
.listing-table th {
  background: #000;
  color: #fff;
}
.listing-table td:first-child,
.listing-table th:first-child {
  border-right: 1px solid #666;
}