extends ../question

block question_category
	span Social

block question
	h4 Compared to your usual level of social activity, has your activity during the past 6 months decreased, stayed the same, or increased because of a change in your physical or emotional condition?

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') Decreased
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio2') Stayed the same
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='radio3') Increased