extends ../question

block question_category
	span Physical Health

block question
	h4 During the last 12 months, how many alcoholic drinks did you have on a typical day when you drank alcohol?

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='answer1') 25 or more drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='answer2') 19 to 24 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='answer3') 16 to 18 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option4')
		label(class='form-check-label' for='answer3') 12 to 15 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option5')
		label(class='form-check-label' for='answer3') 9 to 11 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option6')
		label(class='form-check-label' for='answer3') 7 to 8 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option7')
		label(class='form-check-label' for='answer3') 5 to 6 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option8')
		label(class='form-check-label' for='answer3') 3 to 4 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option9')
		label(class='form-check-label' for='answer3') 2 drinks
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option10')
		label(class='form-check-label' for='answer3') 1 drink