extends ../question

block question_category
	span Physical Health

block question
	h4 Over the past 30 days, did you have a drink of beer, wine, liquour, or any other alcoholic beverage?

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') Yes
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio4') No
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='radio4') Never drank alcohol