extends ../question

block question_category
	span Physical Health

block question
	h4 During the last 12 months, how often did you usually have any kind of drink containing alcohol?

block answers
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio1' name='answer' value='option1')
		label(class='form-check-label' for='radio1') Every day
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio4' name='answer' value='option4')
		label(class='form-check-label' for='radio4') Twice a week
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio3' name='answer' value='option3')
		label(class='form-check-label' for='radio3') 3 to 4 times a week
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio2' name='answer' value='option2')
		label(class='form-check-label' for='radio2') 5 to 6 times a week
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio5' name='answer' value='option5')
		label(class='form-check-label' for='radio5') Once a week
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio6' name='answer' value='option6')
		label(class='form-check-label' for='radio6') 2 to 3 times a month
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio7' name='answer' value='option7')
		label(class='form-check-label' for='radio7') Once a month
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio8' name='answer' value='option8')
		label(class='form-check-label' for='radio8') 3 to 11 times in the past year
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio9' name='answer' value='option9')
		label(class='form-check-label' for='radio9') 1 or 2 times in the past year
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio10' name='answer' value='option10')
		label(class='form-check-label' for='radio10') I did not drink any alcohol in the past year, but I did drink in the past
	div(class='form-check')
		input(class='form-check-input' type='radio' id='radio11' name='answer' value='option11')
		label(class='form-check-label' for='radio11') I never drank any alcohol in my life