extends ../question

block question_category
	span Physical Health

block question
	h4 On the days when you drank alcoholic beverages, during the past 30 days, how many drinks did you usually have?

block answers
	input(class="form-control" id="drinks" placeholder="# of drinks")